
body{
	color: white;
	background-color: #141417;
	font-family: arial;
    font-size: 16px;
}
h2{
	color: white;
    text-align: center;
}
#ligne{
	margin-top: 15px;
}
.container{
	width: 100%;
}
.hide {
    display: none;
}

.show{
    display : inline-block;
}

li{
	list-style-type: none;
}
.preview-item{
	width:100%;
	filter: grayscale();
}
.preview-item:hover{
	filter: none;
	cursor: pointer;
}
.preview-item.col-lg-2.col-md-2.col-sm-4.col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
}
.col-lg-4.col-md-4{
    padding-left: 0px;
    padding-right: 0px;
}

#filter>a{
	color: white;
	text-decoration: none;
}
#filter>a:hover{
	color: #eb8e0d;
	cursor: pointer;
}
#filter>a:active{
	color: #eb8e0d;
}

#gallery-filters{
	padding-bottom: 20px;
}
button.glp-readmore{
	display:inline-block;
	margin-left:auto;
	margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #000;
    border: 0px;
	margin-top: 15px;
}

button.glp-readmore:hover{
	background-color: #333;
	cursor: pointer;
    text-decoration: none;
}
 .glp-close{
 	font-size:40px;
 	color: white;
 	float: right;
}
 .glp-close:hover{
 	cursor: pointer;
 }

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.gl-preview-description{
	margin-top: 10px;
}
#gl-item {
    margin: 0px;
}
#gl-item > button{
    padding: 0px;
    border: 0px solid;
}
.gl-preview {
    background-color: #eb8e0d;
    padding:15px;
}
.gl-preview-container{
    width: 100%;
}
#gl-preview-item{
    top: -20px;
}

.col-lg-2,.col-md-2,.col-sm-4,.col-xs-6{
    padding-left: 0px;
    padding-right: 0px;
}

.modal-content{
	padding: 20px;
	min-height: 450px;
    background-color: #eb8e0d;
}
.modal-content p{
	padding-top: 15px;
	color: black;
}
.modal-content img{
	max-height: 420px;
}
.display {
	display: block;
}
.displayNone {
	display: none;
}
/*Fin CSS Portfolio*/

@media (max-width: 384px) {
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
        float: left;
    }
    .col-xxs-1 {
        width: 8.333333333333332%;
    }
    .col-xxs-2 {
        width: 16.666666666666664%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-4 {
        width: 33.33333333333333%;
    }
    .col-xxs-5 {
        width: 41.66666666666667%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-7 {
        width: 58.333333333333336%;
    }
    .col-xxs-8 {
        width: 66.66666666666666%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-10 {
        width: 83.33333333333334%;
    }
    .col-xxs-11 {
        width: 91.66666666666666%;
    }
    .col-xxs-12 {
        width: 100%;
    }
 }


