<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>My DS Production</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../CSS/portfolio.css">
  <style>
  	.gl-preview img{
  		width: 100%;
  	}
  	.gl-preview {
  		padding:0px;
  	}
  </style>
 
</head>
<body class="container-fluid" ng-app="portfolio" ng-controller="portfolioCtrl">
	<div class="row-fluid col-xs-12">
		<div class="col-xs-3 col-sm-2 gl-preview" ng-repeat="element in elements" ng-class="{active: element == photoSelectionne}">
			<a href="#" ng-click="selectionPhoto(photo)">
				<img src="{{element.image}}" alt="image portfolio"/>
			</a>
		</div>
	</div>
	<!--<div ng-show="photoSelectionne != null">
		<div class="row-fluid col-lg-12 col-md-12 col-xs-hidden col-sm-hidden" ng-repeat= "element in elements">
			<div class="col-lg-4 col-md-4">
				<img src="{{element.image}}">
			</div>
		</div>
	</div>-->
  	<footer>
  		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
		<script src="../../JS/angular_portfolio.js"></script>
	</footer>
</body>

</html>
