<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>A propos</title>
	<link href="../../CSS/Vendor/Bootstrap/bootstrap.css" rel="stylesheet">
	<link href="../../CSS/aPropos.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid albert">
		<div class ="row-fluid">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part1">
				<div class ="row"><!--Titre page-->
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4"> 
						<h2 class="aprop"><span class="bold">A PROPOS</span></h2>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
						<hr align="right" class="barreabout">
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 col-xs-12 part2">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<div class="col-lg-12 col-xs-12"><p class=" parcours">Le parcours professionnel de Denis Loisy</p></div>
					<div class="col-lg-12 col-xs-12"><p class="parcourscontent">Denis Loisy âgé de 26 ans, possède déjà une belle expérience dans l’audiovisuel. Il a été mannequin et comédien, il a participé depuis 10 ans aux campagnes et spots publicitaires télé des grands noms du luxe (Chanel Coco mademoiselle), et aux séances photos de la haute couture et défilés de modes.
						Il a également joué dans de nombreux films, notamment celui de la réalisatrice et actrice Reem Kherici, « Paris à tout prix ».<br/>
						<br/>
						My DS-Production est une startup, Denis Loisy en est le président directeur général. Elle a été ouverte le 13 Juillet 2015 et disposait alors d’un  capital de 3000 €.
						C’est une société par action simplifiée. C’est un auto entrepreneur, il produit de l’audiovisuel. L’entreprise est située 16 avenue du Gal de Gaulle à Nevers. 
						Cette startup est innovante car elle est la seule sur Nevers à produire de l’audiovisuel : photo, vidéos, pubs à la demande du client, graphismes impressionnants et l’utilisation de drones pour des prises de vue époustouflantes.
					</p></div>
				</div>
				<div class="col-lg-6 col-xs-12"><img src="../../IMG/client.jpg">
				</div>
			</div>
			<div class="col-lg-12 col-xs-12"><p class=" parcours2">Dans quel but Denis Loisy a-t-il fondé cette entreprise ?</p></div>
			<div class="col-lg-12 col-xs-12"><p class="parcourscontent">Le but de Denis Loisy est de faire connaître son entreprise et de la  développer davantage dans chaque région. Il produit des pubs à l’image du client. Cette entreprise propose des prix attractifs avec les mêmes compétences pour tout professionnel. Il apporte un œil artistique et privilégie la relation clientèle. Il est à la recherche de partenaires professionnels (mannequins, hôtesses, modèles…) et possède une page Facebook : My DS-Production. Il a créé cette entreprise car avant lui personne ne produisait de l’audiovisuel sur Nevers.
			MY DS-PRODUCTION est une start-up avec un accueil chaleureux, Denis Loisy respecte et écoute ses clients. Ses locaux sont discrets mais quand on y entre, on en prend plein les yeux !</p></div>





		</div>
	</div>


		<script src="jquery.js"></script>
		<script src="bootstrap.js"></script>	
	</body>
	</html>