<!-- DEBUT... footer-->

<div>
      <div ng-controller="dateController as dateCtrl" class="container">
              <a href='https://vimeo.com/user55615401' target="_blank"><i class="fa fa-vimeo fa-3x fa-fw"><img src="IMG/vimeo.png" alt="vimeo" width="45" height="45"></i></a>
              <a href='https://fr-fr.facebook.com/MY-Ds-Production-391836387667556/' target="_blank"><i class="fa fa-facebook fa-3x fa-fw"><img src="IMG/facebook.png" alt="facebook" width="45" height="45"></i></a>
              <a href='https://www.youtube.com/channel/UCeQ-F14zx-wvShDklIA0gCA' target="_blank"><i class="fa fa-youtube-play fa-3x fa-fw"><img src="IMG/youtube.png" alt="youtube" width="45" height="45"></i></a>
              
              <!-- Mise à jour automatique du copyright -->
              <p class="mention">Copyright &copy {{dateCtrl.date| date:"yyyy"}} My Ds Production</p>
      </div>
</div>

<!-- FIN ... footer-->