<!-- DEBUT... footer-->

<div>
      <div class="container">
              <a href='https://vimeo.com/user55615401' target="_blank"><i class="fa fa-vimeo fa-3x fa-fw"><img src="img/vimeo.png" width="45" height="45"></i></a>
              <a href='https://fr-fr.facebook.com/MY-Ds-Production-391836387667556/' target="_blank"><i class="fa fa-facebook fa-3x fa-fw"><img src="img/facebook.png" width="45" height="45"></i></a>
              <a href='https://www.youtube.com/channel/UCeQ-F14zx-wvShDklIA0gCA' target="_blank"><i class="fa fa-youtube-play fa-3x fa-fw"><img src="img/youtube.png" width="45" height="45"></i></a>
              <p class="mention">Copyright &copy 2016 My Ds Production</p>
      </div>
</div>

<!-- FIN ... footer-->