<!DOCTYPE html>
<html lang="fr" ng-app="dsprod">
<head>
	<meta charset="UTF-8"> 
	<title>Service Photo</title>
	<link href="../../../CSS/Vendor/Bootstrap/bootstrap.css" rel="stylesheet">
	<link href="../../../CSS/services.css" rel="stylesheet">

</head>

<body ng-controller = "serviceController as servCtrl">

	<div class="container-fluid">

		<bloc1c></bloc1c>

		<bloc2c></bloc2c>

		<bloc3c></bloc3c>

		<bloc4c></bloc4c>
			
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	<script type="text/javascript" src="../../../JS/app.js"></script>

</body>

</html>