			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 barre1">
				<div class ="row-fluid">
					<div class="col-lg-5 col-md-6 col-sm-7 col-xs-8"> 
						<h2>SHOOTING <span class="bold">{{servCtrl.servicephoto.categorie.type}}</span></h2>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
						<hr align="right" class="barreservices">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row-fluid">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><!--bloc gauche-->
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 descript">
								<p ng-bind-html="servCtrl.servicephoto.presentation.description"></p>

								</div>

								<div class="col-xs-4 col-xs-offset-4 row-fluid but">
									<button id="doree" class=" bouton">Voir mes réalisations</button>
								</div>
							</div>				
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 exemple">
									<img src={{servCtrl.servicephoto.presentation.src}} class="servimg">
								</div>
							</div>
						</div>
					</div>

