<!DOCTYPE html>
<html lang="fr" ng-app="dsProd">
<head>
	<meta charset="UTF-8"> 
	<title>Services</title>
	<link href="../../CSS/Vendor/Bootstrap/bootstrap.css" rel="stylesheet">
	<link href="../../CSS/services.css" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">

		<bloc1></bloc1>

		<bloc2></bloc2>

		<bloc3></bloc3>

		<bloc4></bloc4>
			
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>		
	<script src="../../JS/Vendor/Bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="../../JS/app.js"></script>

</body>

</html>