<div class="container-fluid"  ng-controller='homeController as homeCtrl'>
	<div class="row" id="home">
		<!--Intitulé my ds production-->
		<div class=" titre col-xs-12 col-sm-6">
			<div class="text-center orangeb">
				<img src="{{homeCtrl.titre.image}}" alt="titre">
			</div>
		</div>
		<!--Description-->
		<div class="col-xs-12 col-sm-6 accroche">
			<div class="text-center orangeb">
				<div class="description">
					<h4 class="description_titre" ng-bind-html="homeCtrl.titre.accroche"></h4>
				</div>
			</div>
		</div>
	</div>
	<!--Selection de service-->
	<div class="row" id="home">

	<!-- video -->

		<div ng-repeat="service in homeCtrl.servicesResponsive" class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
			<div class="bloc row-fluid col-xs-12">
					<a href="{{service.bouton}}">
						<img class="home_photo" src="{{service.image}}" alt="Services">
					</a>
					<div class="auDessus">
						<div class="title_btn">
							<h2 class="service col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-12" style="height: 100%">{{service.titre}}</h2>	
						</div>
					</div>
				</div>
			</div>

		<div ng-repeat="service in homeCtrl.services"  class="hidden-xs col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<div class="bloc row-fluid">
				<a href="{{service.lien}}">
					<img class="home_photo" src="{{service.image}}" alt="Réalisation video">
					<div class="auDessus">
						<div class="title_btn rotate">
							<h2 class="service " style="height: 100%">{{service.titre}}</h2>
							
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>