body {
	margin:0px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.barre1 {
	background-color: #e6e7df;
	padding-bottom: 25px;
}

.descript {
	padding-left: 30px;
	padding-top: 30px;
}

.barreservices {
	background-color: #A5A5A5;
	height: 2px;
	margin-top: 24px;
	margin-right: 25px;
	margin-left: 0px;
}

h2 {
	color: black;
	font-size: 2.1em;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 30px;
	margin-bottom: 20px;
	text-align: left;
}

.bold {
	font-weight: bold;
}

p {
	margin-bottom: 0px;
	margin-left: 20px;
	font-size: 18px;
	color: black;
}

ul {
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}

.exemple {
	display : inline;
	text-align: center;
}

button{
	color: white;
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.rowbut {
	display: inline;
	text-align: center;
}

button#num1{
	background-color: #BFA169;
	margin-top: 35px;
	margin-bottom: 35px;
	width: 210px;
	height: 50px;
	font-size: 19px;
}

button#num2{
	background-color: #6d5b3b ;
}

button#num2:hover{
	background-color: #8e774d;
}

button#num1:hover{
	background-color: #dbbc83;
}

.video>iframe{
	width: 100%;
	min-height: 300px;
}

.barre2 {
	background-color: #BFA169;
	padding-bottom: 25px;
}

.rea1 {
	padding-left: 50px;
	padding-right: 50px;
}

.ytp-thumbnail-overlay-image{
	padding-bottom: 10px;
}

h3 {
	color: white;
	font-size: 28px;
	padding-bottom: 15px;
	text-align: center;
}

#pub {
	margin-top: 10px;
}

.list{
	padding-bottom: 50px;
}

.barre3 {
	background: rgb(255);
	background-image: url(../IMG/vod.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	display: block;
	text-align: center;
}

.confiance {
	color:white;
	font-size: 28px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.partner {
	background-color: rgba(255,255,255,0.6);
	width: 90%;
	margin-top: 15px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.logo {
	margin-top: 15px;
	display: inline;
	text-align: center;
}

.avis{
	color: black;
	padding-top: 25px;
	padding-right: 25px;
	text-align: left;
}

.contenu3 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.barre4 {
	background-color: #BFA169;
	padding-top: 5px;
	display: block;
	padding-bottom: 15px;
}

#promo {
	display: block;
	text-align:center;
	margin-top: 10px; 
	margin-bottom: 0px;
}

#contact {
	color: white;
}

@media screen and (min-width: 992px) and (max-width: 1200px){

	h2 {
		font-size: 1.9em;
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 17px;
	}

	ul {

		font-size: 16px;
	}

	.confiance {
		font-size: 25px;
	}

	.barreservices {
		background-color: #A5A5A5;
		height: 2px;
		margin-top: 16px;
		margin-right: 25px;
		margin-left: 0px;
	}

}

@media screen and (min-width: 775px) and (max-width: 991px){

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 23px;
	}

	p {
		font-size: 16px;
	}

	ul {
		font-size: 15px;
	}

	.confiance {
		font-size: 23px;
	}

	.barreservices {
		background-color: #A5A5A5;
		height: 2px;
		margin-top: 16px;
		margin-right: 25px;
		margin-left: 0px;
	}

}

@media screen and (min-width: 521px) and (max-width: 774px){

	h2 {
		font-size: 1.4em;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}

	ul {
		font-size: 14px;
	}
	.confiance {
		font-size: 20px;
	}

	.barreservices {
		background-color: #A5A5A5;
		height: 2px;
		margin-top: 16px;
		margin-right: 25px;
		margin-left: 0px;
	}

	.barreabout {
		background-color: white;
		height: 1px;
		margin-top: 16px;
		margin-right: 25px;
		margin-left: 0px;	
	}


}


@media screen and (max-width: 520px) {

	h2 {
		font-size: 1.4em;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}

	ul {
		font-size: 14px;
	}
	.confiance {
		font-size: 20px;
	}

	.barreservices {
		background-color: #A5A5A5;
		height: 2px;
		margin-top: 38px;
		margin-right: 25px;
		margin-left: 0px;
	}

}
